:root {
    --maroon-color:rgb(156, 53, 53);
    --brownish: rgb(255, 218, 166);
}
* {
box-sizing: border-box;
}

/* Position the Popup form */
.popup {
position: relative;
text-align: center;
width: 100%;
height: 60%;
}
/* Hide the Popup form */
.form-popup {
    height: 200px;
    width: 50%;
    display: none;
    position: fixed;
    left: 50%;
    top:7%;
    transform: translate(-45%,5%);
    border: 2px solid #666;
    z-index: 9;
}
/* Styles for the form container */
.form-container {
max-width: 100%;
padding: 20px;
background-color: #fff;
font-size: 12px;
}
/* Full-width for input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 50%;
padding: 10px;
margin: 5px 0 2px 0;
border: none;
background: #eee;
font-size: 10px;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}
/* Style submit/login button */
.form-container .btn {
background-color: var(--brownish);
color: white;
font-size: 20px;
padding: 12px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
font-family: "Quicksand";
}
/* Style cancel button */
.form-container .cancel {
background-color: #cc0000;
}
/* Hover effects for buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}

/* Hide the Popup form */
.faq-popup {
    text-align: left;
    height: 200px;
    display: none;
    position: fixed;
    left: 50%;
    top:7%;
    transform: translate(-45%,5%);
    border: 2px solid #666;
    z-index: 9;
}

.question {
    font-weight: bolder;
    font-size: 20px;
}
.question {
    font-weight: lighter;
    font-size: 18px;
}

.about-popup {
    text-align: left;
    height: 200px;
    display: none;
    position: fixed;
    left: 50%;
    top:7%;
    transform: translate(-45%,5%);
    border: 2px solid #666;
    z-index: 9;
}