<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    .marker {
      background-image: url('static/mapbox-icon.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  </style>
  <title>Maps</title>
</head>
<body id = "fullpage">
    <div id = "home" style = "font-family: Quicksand;">
      <div class="topnav" id="navbar">
          <div id="logindiv">
              <img src= "/static/logo.png" width = 65 height = 75 style="margin-bottom: 500px; max-width:100%;max-height:90%;"/>
              <span id="logintext"> <span style = "color: rgb(179, 86, 0);">Helping</span>Hand</span>
          </div>

          <div id="links">
              <!-- <a href="#login">Login</a> -->
              <a href="javascript:openForm();">Request</a>
              <div class="login-popup">
                <div class="form-popup" id="popupForm">
                  <form action="/action_page.php" class="form-container">
                    <h2>Item Request Form</h2>
                    <label for="fullname">
                      <strong>Full Name</strong>
                    </label>
                    <input type="text" id="email" placeholder="Your Name" name="email" required>
                    <br>
                    <br>
                    <label for="address">
                      <strong>Address</strong>
                    </label>
                    <input type="text" id="psw" placeholder="Street Address" name="psw" required>
                    <input type = "text" id="city" placeholder="City" name="city" required>
                    <input type = "text" id="state" placeholder="State/Province" name="state" required>
                    <input type = "text" id="zip" placeholder="Postal/Zip Code" name="zip" required>
                    <br>
                    <br>
                    <input type="text" id="itemneeded" placeholder="Item Needed" name="itemneeded" required>

                    <button type="submit" class="btn">Submit Form</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                  </form>
                </div>
              </div>
              <script>
                function openForm() {
                    if (document.getElementById("popupForm").style.display == "block"){
                      closeForm()
                      return;
                    }
                    document.getElementById("popupForm").style.display = "block";
                    document.getElementById("fullpage").style.overflow = "hidden";
                    document.getElementById("intro").style.filter = "blur(5px)"
                    

                  }
                  function closeForm() {
                    document.getElementById("popupForm").style.display = "none";
                    document.getElementById("fullpage").style.overflow = "visible";
                    document.getElementById("intro").style.filter = "none"

                  }
              </script>
              <a href="#">|</a>
              <a href="#about">About</a>
              <a href="#faq">FAQ</a>
              <a href="#whydonate">Why Donate?</a>
              <!-- <a href="#map_sidenav">Map</a> -->
          </div>  
      </div>
      <!-- <div id = "intro">
          <div id = "textbox" style = "text-align: center; color: black; font-weight: bolder;" >
              <span style = "font-size: 23px; position:relative; top: 60px;">by DAGA and PHILIZAIRE</span>
              <span style="font-size: 80px; position:relative; top: 80px;">GiveAndTake</span>
              <hr style = "position:relative; top: 100px; border: 2px solid rgb(0, 0, 0); width: 50%;">
              <span style="font-size: 23px; position:relative; top: 110px;">Help those in need. Get help in need.</span>
        </div>
      </div> -->
      <div id = "faq">
        <div id="textbox" style="text-align: center; color: black; font-weight: bolder;">
          <span style="font-size: 23px; position:relative; top: 60px;">by DAGA and PHILIZAIRE</span>
          <span style="font-size: 80px; position:relative; top: 80px;">GiveAndTake</span>
          <hr style="position:relative; top: 100px; border: 2px solid rgb(0, 0, 0); width: 50%;">
          <span style="font-size: 23px; position:relative; top: 110px;">Help those in need. Get help in need.</span>
        </div>
      </div>
    </div>


    <div id = "map_sidenav" style = 'font-family: Quicksand; '>
      <div id = "map">
        <script>

          mapboxgl.accessToken = 'pk.eyJ1IjoicmQzNjAiLCJhIjoiY2s4Y3VjdXFpMGxjbTNsanE5cWhzNXd3bSJ9.z-sq6wzY2jA3oG6sW5_Uqg';
          
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v10',
            center: [-77.1, 38.8],
            zoom: 10
          });
          
          map.addControl(new mapboxgl.NavigationControl());

          var geojson = {
              type: 'FeatureCollection',
              features: []
          };
          
          {% for address in list_new %}
            geojson["features"].push({
                type: 'Feature',
                geometry: {
                  type: 'Point',
                  coordinates: {{address[0]}}
                },
                properties: {
                  title: '{{address[1]}}',
                  description: '{{address[2]}}',
                  identifier: '{{address[3]}}'
                }
              })
          {% endfor %}
          
          
          console.log(geojson)
          
          geojson.features.forEach(function (marker) {
              console.log(marker.geometry.coordinates)
          
              // create a HTML element for each feature
              var el = document.createElement('div');
              el.className = 'marker';
          
              button_html = `<form class="form-group" action="/remove/${marker.properties.identifier}/" method="POST"><input type="text" id="phone_number" name="phone_number"><button type="submit" class="btn btn-primary">Claim</button></form>`
              final_html = '<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>' + button_html
              console.log(final_html)
              // make a marker for each feature and add to the map
              new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 }) 
                .setHTML(final_html))
                .addTo(map);
            })
          
          
          
          </script>
        
        </script>
      </div>
      <div id = "sidenav">
        <div id = "sidenav_header">
            <span style = "font-size: 35px; position:relative; top: 22%; color: white; left: 9%; border-left: 3px solid white; padding-left: 10px;">Members in Need</span>
        </div>
        <div id = "membersinfo">
            <div class = "memberdiv">
                <span class = "name"> Name: <span class = "colored">Rashad Philizaire</span> </span>
                <br>
                <span class="distance"> Distance: <span class = "colored">14 miles</span> </span>
                <br>
                <span class="items"> Items Need: <span class = "colored">Toilet Paper</span> </span>
                <br>
                <span class="urgency"> Urgency: <span class = "colored" style="font-weight: bolder;">!!!</span> </span>
                <br>
                <button class = "givebutton">Fulfill Request</button>
            </div>
            <div class="memberdiv">
            </div>
            <div class="memberdiv">
            </div>
            <div class="memberdiv">
            </div>
        </div>
      </div>
    </div>


</body>
</html>
