<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="static/latlng.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <style>
      .marker {
        background-image: url('static/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        border:1px solid gray;
        background-color:lightblue;
      }
    </style>
</head>
<body>

<div id='map'></div>

<script>

mapboxgl.accessToken = 'pk.eyJ1IjoicmQzNjAiLCJhIjoiY2s4Y3VjdXFpMGxjbTNsanE5cWhzNXd3bSJ9.z-sq6wzY2jA3oG6sW5_Uqg';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [-96, 37.8],
  zoom: 3
});

  var geojson = {
    type: 'FeatureCollection',
    features: [{
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [-77.032, 38.913]
      },
      properties: {
        title: 'Mapbox',
        description: 'Washington, D.C.'
      }
    }]
  };

{% for address in list_new %}
  // console.log({{address}})
  geojson["features"].push({
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: {{address[0]}}
      },
      properties: {
        title: '{{address[1]}}',
        description: '{{address[2]}}'
      }
    })
{% endfor %}


console.log(geojson)
// async function getJSONFile(){
//   var lol = await fetch("/static/latlng.json")
//       .then(res => res.json())
//       .then(data => lol = data)
  
//     return lol
  
// }

// async function doStuff(){
//   geojson = await getJSONFile();
//   console.log(geojson);
//   geojson.features.forEach(function(marker){
//     console.log(marker.geometry.coordinates)

//     // create a HTML element for each feature
//     var el = document.createElement('div');
//     el.className = 'marker';

//     // make a marker for each feature and add to the map
//     new mapboxgl.Marker(el)
//     .setLngLat(marker.geometry.coordinates)
//     .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
//     .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
//     .addTo(map);
//   });
// }

// var obja = JSON.parse("static/latlng.json");
// console.log(obja);
// var geojson = 'a';
console.log(geojson)
// var bool = false;

// $.getJSON("https://api.myjson.com/bins/yxpaw", function( json ) {
      
//      changeJSON(json)
//      bool = true;
// });

// var el = document.createElement('div');  
// el.appendChild(map)                                     
// el.style.width = '50px';                                                      
// el.style.height = '50px';
// el.style.borderRadius = '50%';                                                     
// new mapboxgl.Marker(el).setLngLat([45.702117, 42.395926]).addTo(map);

geojson.features.forEach(function (marker) {
    console.log(marker.geometry.coordinates)

    // create a HTML element for each feature
    var el = document.createElement('div');
    el.className = 'marker';

    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
      .addTo(map);
  })


// // console.log(change)
// function changeJSON(myJSON){
//   geojson = myJSON;
//   console.log(geojson)
  
// }

// while (bool == false){
//   console.log(geojson)
// }

console.log(geojson)



// doStuff();







</script>

</body>
</html>